version: 2
executorType: docker
containerInfo:
  - image: quay.io/netguru/ng-ruby:2.2.3
    env:
      - RAILS_ENV=test
      - RACK_ENV=test
      - PG_HOST=localhost
      - PG_USER=ubuntu
  - image: postgres:9.5
    env:
      - POSTGRES_USER=ubuntu
      - POSTGRES_DB=circle_ruby_test
stages:
  build:
    workDir: /home/ubuntu/props
    environment:
      - CHROME_BIN: /usr/bin/google-chrome
      - DISPLAY: :99.0
    steps:
      - type: checkout
      - type: shell
        name: Install System Dependencies
        command: apt-get update && apt-get install -y libpq-dev
      - type: shell
        name: Install Node
        command: /opt/node/install
      - type: shell
        name: Install Yarn
        command: |
          apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
          echo "deb http://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
          apt-get update -qq
          apt-get install -y -qq yarn
      - type: shell
        name: Get Yarn Dependencies
        command: yarn
      - type: shell
        name: Install Chrome and Xvfb
        command: |
          apt-get update
          apt-get install -y libappindicator1 fonts-liberation
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          dpkg -i google-chrome-stable_current_amd64.deb; apt-get -fy install
          apt-get install xorg
          apt-get install xvfb
          apt-get install xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic
      - type: shell
        name: Copy Secrets
        command: cp config/secrets.yml.sample config/secrets.yml
      - type: shell
        name: Install Ruby Dependencies
        command: bundle install
      - type: shell
        name: Copy database.yml
        command: cp config/database.yml.circleci config/database.yml
      - type: shell
        name: Create DB
        command: bundle exec rake db:create db:schema:load --trace
      - type: shell
        name: DB Migrations
        command: bundle exec rake db:migrate
      - type: shell
        name: Starting Xvfb (for Browser Tests)
        command: Xvfb :99 -screen 0 1280x1024x24
        background: true
        #caching to be added
      - type: shell
        name: Run Yarn Tests
        command: yarn test
      - type: shell
        name: Run Rspec Tests
        command: bundle exec rspec --colour --profile 10 --order rand spec --format progress
  deployment:
    workDir: /home/ubuntu/props
    steps:
      - type: deploy
        name: Deploy To Staging
        command: |
          if [ "${CIRCLE_BRANCH}" == "mobile" ]; then
            git push git@heroku.com:netguru-props-staging.git
          fi
      - type: shell
        name: "Deploy to production"
        command: |
          if [ "${CIRCLE_BRANCH}" == "production" ]; then
            bundle exec cap production deploy
          fi
