version: 2
jobs:
  build:
    working_directory: ~/props
    docker:
      - image: circleci/ruby:2.3-node
        environment:
          - RAILS_ENV=test
      - image: circleci/postgres:latest
        environment:
          - POSTGRES_USER=props
    steps:
      - checkout
      - restore-cache:
          key: node-{{ checksum "yarn.lock"}}
      - run:
          name: Get Yarn Dependencies
          command: yarn
      - save_cache:
          key: node-{{ checksum "yarn.lock"}}
          paths:
            - node_modules
      - restore_cache:
          key: ruby-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install Ruby Dependencies
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle --without development
      - save-cache:
          key: ruby-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: v1-repo-{{ checksum ".circle-sha" }}
          paths:
            - ~/props
  run_tests:
    working_directory: ~/props
    docker:
      - image: circleci/ruby:2.3-node
        environment:
          - RAILS_ENV=test
      - image: circleci/postgres:latest
        environment:
          - POSTGRES_USER=props
    steps:
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v1-repo-{{ checksum ".circle-sha" }}
      - restore-cache:
          key: node-{{ checksum "yarn.lock"}}
      - restore_cache:
          key: ruby-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install Ruby Dependencies
          command: bundle --path vendor/bundle --without development
      - run:
          name: Copy database.yml
          command: cp config/database.yml.sample config/database.yml
      - run:
          name: Create DB
          command: bundle exec rake db:create db:schema:load --trace
      - run:
          name: DB Migrations
          command: bundle exec rake db:migrate
      - run:
          name: Run Yarn Tests
          command: yarn test
      - run:
          name: Run Rspec Tests
          command: bundle exec rspec --colour --profile 10 --order rand spec --format progress
      - deploy:
          name: Deploy To Staging
          command: |
            if [ "${CIRCLE_BRANCH}" == "mobile" ]; then
              git push git@heroku.com:netguru-props-staging.git
            fi
      - deploy:
          name: "Deploy to production"
          command: |
            if [ "${CIRCLE_BRANCH}" == "production" ]; then
              bundle exec cap production deploy
            fi
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filter:
            branches:
              only: staging
      - run_tests:
          requires:
            - build
