version: 2
jobs:
  build:
    working_directory: ~/props
    docker:
      - image: circleci/ruby:2.3-node
        environment:
          - RAILS_ENV=test
      - image: circleci/postgres:latest
        environment:
          - POSTGRES_USER=props
    steps:
      - checkout
      - restore-cache:
          keys:
            - bundle-{{ checksum "Gemfile.lock" }}
            - yarn-{{ checksum "yarn.lock" }}
      - run:
          name: Get Yarn Dependencies
          command: yarn
      - save_cache:
          key: yarn-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Install Ruby Dependencies
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle --without development
      - save-cache:
          key: bundle-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Copy database.yml
          command: cp config/database.yml.sample config/database.yml
      - run:
          name: Create DB
          command: bundle exec rake db:create db:schema:load --trace
      - run:
          name: DB Migrations
          command: bundle exec rake db:migrate
      - run:
          name: Run Yarn Tests
          command: yarn test
      - run:
          name: Run Rspec Tests
          command: bundle exec rspec --colour --profile 10 --order rand spec --format progress
      - deploy:
          name: Deploy To Staging
          command: |
            if [ "${CIRCLE_BRANCH}" == "mobile" ]; then
              git push git@heroku.com:netguru-props-staging.git
            fi
      - deploy:
          name: "Deploy to production"
          command: |
            if [ "${CIRCLE_BRANCH}" == "production" ]; then
              bundle exec cap production deploy
            fi
